@import '../../styles/variables.scss';

.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo, &__theme {
        margin-right: 10px;
    }
    &__logo {
        height: 65px;
        width: 65px;
    }
    &__title {
        font-size: 25px;
        font-weight: 700;
        color: var(--main-color);
    }
    &__cities {
        font-weight: 400;
        display: flex;
        input {
            height: 35px;
            width: 230px;
            border-radius: 7px;
            border: none;
            background-color: var(--second-color);
            margin-right: 20px;
            padding: 0 10px;
            box-shadow: 0 0 20px var(--shadows-color);
            color: var(--text-color);
        }
    }
    &__button {
        background-color: var(--second-color);
        height: 35px;
        &:hover {
            background-color: white;
            border: 1px solid var(--second-color);
        }
    }
    &__theme {
        svg {
            display: none;
            &:hover {
                cursor: pointer;
            }
        }
        .active {
            display: block;
        }
    }
}
