@import '../../styles/variables.scss';

.current {
    &__temp, &__info {
        box-shadow: 0 0 20px var(--shadows-color);
        border-radius: 15px;
        // height: 300px;
    }
    &__wrapper {
        display: flex;
        // max-height: 300px;
        justify-content: space-between;
    }
    &__temp {
        padding: 25px;
        width: 450px;
        background-color: var(--bg-second-color);
        &-descr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            height: 100%;
            p.current__temp-date {
                font-size: 18px;
                margin-top: 3px;
            }
        }
        &-value {
            font-size: 64px;
            color: var(--main-color);
            font-weight: 500;
        }
        &-icon {
            width: 180px;
            p.current__temp-precip {
                display: block;
                text-align: center;
                font-size: 18px;
                margin-top: 3px;
            }
        }
        &-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            align-items: center;
            height: 165px;
            img {
                display: block;
                height: 120px;
                margin: 0 auto;
            }
        }
        p {
            font-size: 25px;
            color: var(--third-color);
            line-height: 30px;
            margin-top: 15px;
            text-align: left;
        }
    }
    &__info {
        background-color: var(--bg-second-color);
        width: 700px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 18px;
        color: var(--text-color);
        &-item {
            display: flex;
            align-items: center;
            div {
                margin-right: 20px;
            }
        }

        &-icon {
            height: 42px;
            width: 42px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 5px var(--shadows-color);
            background-color: var(--icon-bg);
            img {
                display: block;
                width: 100%;
            }
        }

        &-descr {
            color: var(--current-info);
        }
    }
}

:root[data-theme='light'] {
    .current__info {
        background-image: url(../../assets/img/info_bg_light.png);
        background-size: cover;
    }
}

:root[data-theme='dark'] {
    .current__info {
        background-image: url(../../assets/img/info_bg_dark.png);
        background-size: cover;
    }
}